.Options{
    display:flex;
    justify-content:space-evenly;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5vh;
}
.filtersOrders{
    margin:0em 1em;
}
.allSelects{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.filters{
    display:flex;
    flex-direction:column;
}
.label{
        background-color:#FAA307;
        font-size:0.85em;
        padding:0.1em 3em 0.1em 0.2em;
        border-radius:0.3em;
        border:solid 1px #03071E;
}
.label:focus{
    border:solid white;
}
.label:active{
    border:solid white;
}
.select{
    background-color:#FAA307;
    border-radius:0.3em;
    border:solid 1px #03071E;
}
.select:active{
    border:solid 1px white;
}
.checkbox{
    visibility:hidden;
}
@media screen and (max-width:540px){
    .allSelects{
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:wrap;
    }
    .filtersOrders{
        margin:1em 0em;
    }
}